@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #caeb66;
  --color-primary-content: black;
}

* {
  font-family: "Urbanist", sans-serif;
}

.swiper-slide {
  opacity: 0.5;
  transition: all 0.4s ease;
}
.swiper-slide.swiper-slide-active {
  opacity: 1;
  transform: scale(1.05);
}
.custom-bullet {
  width: 8px;
  height: 8px;
  border-radius: 9999px;
  background-color: #cbd5e1;
  transition: background-color 0.3s ease;
}
.custom-bullet-active {
  background-color: #03373d;
}
